/*
 * File: base.css
 * Date: 2022-08-28
 * Author: Thomas vanBommel
 */

:root {
    --max-width: 1100px;

    --dark-color:  #212121;
    --light-color: #DEDEDE;

    --background-color: var(--light-color);
    --foreground-color: var(--dark-color);

    --border: 0.05rem solid var(--foreground-color);
}

@media (prefers-color-scheme: dark) {
    :root {
	--background-color: var(--dark-color);
	--foreground-color: var(--light-color);
    }
}

* {
    color: var(--foreground-color);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
}

/*** logo *********************************************************************
 * Website logo                                                               *
 ******************************************************************************/
.logo {
    margin: 0;
    font-family: monospace;
}

.logo a:not(:hover) {
    text-decoration: none;
}

/*** navbar *******************************************************************
 * Navigation header                                                          *
 ******************************************************************************/
#navbar {
    padding: 1rem;
    border-bottom: var(--border);

    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    /* background-color: #f50; */
}

#navbar .spacer {
    flex: 1;
}

#navbar .options .icon a {
    text-decoration: none;
}

#navbar .options .menu {
    margin: 0;
    padding: 1rem;
    
    list-style: none;
    border-left: var(--border);
    border-bottom: var(--border);

    position: absolute;
    right: 0%;
    top: 100%;
}

#navbar .options .menu:not(.open) {
    display: none;
}

#navbar .options .menu li a:not(:hover) {
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    #navbar .options .icon {
	display: none;
    }

    #navbar .options .menu {
	position: static;
	padding: 0;
	border: none;
    }

    #navbar .options .menu.open, #navbar .options .menu:not(.open) {
	display: flex;
    }

    #navbar .options .menu li {
	padding-left: 1rem;
	display: block;
    }
}

/*** main content *************************************************************
 * Main content of the webpage                                                *
 ******************************************************************************/
main {
    /* height: 1100px; */
    padding: 1rem;
}

/*** footer *******************************************************************
 * Footer element                                                             *
 ******************************************************************************/
footer {
    padding: 0.5rem;
    border-top: var(--border);
    font-size: 0.8rem;
}

footer .container {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 1rem;
    
    display: flex;
    flex-wrap: wrap;
}

footer .column {
    flex: 1;
}

footer .column div {
    width: max-content;
    margin: 0 auto;
}

footer .column a {
    display: block;
    padding: 0.25rem 0;
    /* margin-top: 0.5rem; */
}

footer .column a:not(:hover):not([href='#']) {
    text-decoration: none;
}

footer .copyright {
    opacity: 0.25;
}

/*** classes ******************************************************************
 * Multi-purpose classes                                                      *
 ******************************************************************************/
.bg-color {
    background-color: var(--background-color);
}

/*** misc *********************************************************************
 * Miscellaneous                                                              *
 ******************************************************************************/
a[href='#'] {
    text-decoration-line: line-through;
    opacity: 0.75;
}
