<!--
 - File: home.tmpl
 - Date: 2022-09-06
 - Author: Thomas vanBommel
 -->

{{ define "head" }}

{{ end }}

{{ define "content" }}
   <h1>Welcome</h1>
   <p>
	Hello &#128075;, feel free to poke around.
   </p>
{{ end }}